/************************************* left container *************************/
.social_media_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 32px;
}

.soical_media_btn {
  width: 100%;
  height: 40px;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgba(0, 0, 0, 0.7) !important;
  font-size: 14px;
  font-weight: 500 !important;
}

.social_media_icon {
  margin-right: 10px;
}

.login_divider {
  border-block-start: 0 black !important;
  margin: 32px 0px !important;
}

.forget_password_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 16px;
}

.remember_me {
  color: rgba(0, 0, 0, 0.7) !important;
  font-size: 12px !important;
  font-weight: 400 !important;
}

.forget_passwork_link {
  color: #0077e5 !important;
  font-size: 12px !important;
  font-weight: 400 !important;
}

.create_new_account_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.have_account {
  color: rgba(0, 0, 0, 0.7) !important;
  font-size: 12px !important;
  font-weight: 400 !important;
  margin-right: 5px;
}

.singup_link {
  color: #0077e5 !important;
  font-size: 12px !important;
  font-weight: 500 !important;
}

/************************************* common styles *************************/
.full_width {
  width: 100%;
  height: 100%;
}

.font_style {
  font-style: normal;
  line-height: normal;
  font-weight: 500;
  color: #fff;
}

.mr-20 {
  margin-right: 20px;
}

.mt-23 {
  margin-top: 23px;
}

.mt-16 {
  margin-top: 16px;
}