/************************************* signup container  *************************/
.signup_container {
  height: 100vh;
  width: 100vw;
}

/************************************* left container *************************/
.left_container {
  display: flex;
  justify-content: center;
}
.left_container_wrapper {
  margin: 160px 0px;
  width: 80%;
}
.signup_heading {
  color: #0077e5;
  font-size: 40px;
  font-weight: 700;
}
.signup_title {
  color: rgba(0, 0, 0, 0.7) !important;
  font-size: 30px !important;
  font-weight: 500 !important;
  margin-top: 104px;
}
.singup_wlcme {
  color: rgba(0, 0, 0, 0.7) !important;
  font-size: 16px;
  font-weight: 300 !important;
  margin-top: 15px;
}
.input_icon {
  margin-right: 8px;
}
.input_wrapper {
  height: 66px;
  color: rgba(0, 0, 0, 0.7) !important;
  font-size: 20px;
  font-weight: 500 !important;
}
.agreement_txt {
  color: rgba(0, 0, 0, 0.7) !important;
  font-size: 12px !important;
  font-weight: 400 !important;
  margin-top: 26px;
}
.agreement_link {
  color: #0077e5 !important;
  font-size: 12px !important;
  font-weight: 400 !important;
}
.create_account_btn {
  height: 66px;
  width: 100%;
  font-size: 30px !important;
  font-weight: 600 !important;
  margin-top: 58px;
}
.login_back_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
.have_account {
  color: rgba(0, 0, 0, 0.7) !important;
  font-size: 12px !important;
  font-weight: 400 !important;
  margin-right: 5px;
}
.login_link {
  color: #0077e5 !important;
  font-size: 12px !important;
  font-weight: 500 !important;
}
/************************************* right container *************************/
.right_container {
  background-color: #0077e5;
}
.greeting_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 95vh;
}
.greeting_msg {
  margin: 0px;
  font-size: 50px !important;
  font-weight: 600 !important;
}
.greeting_detail {
  font-size: 25px !important;
  font-weight: 400 !important;
  margin-top: 16px;
}

/************************************* common styles *************************/
.full_width {
  width: 100%;
  height: 100%;
}
.font_style {
  font-style: normal;
  line-height: normal;
  font-weight: 500;
  color: #fff;
}
.mr-20 {
  margin-right: 20px;
}
.mt-23 {
  margin-top: 23px;
}
.mt-57 {
  margin-top: 57px;
}
.sign_up_password_strength {
  color: #828282;
  font-family: Inter;
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
  line-height: 12px;
  margin-top: 4px;
  display: flex;
  align-items: center;
}
